<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProductoService"></binding>
        <binding name="BasicHttpBinding_IPedidoService"></binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:64337/ProductoService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProductoService"
                contract="Client.Contracts.IProductoService" name="BasicHttpBinding_IProductoService"/>
      <endpoint address="http://localhost:64337/PedidoService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPedidoService"
                contract="Client.Contracts.IPedidoService" name="BasicHttpBinding_IPedidoService"/>
    </client>
  </system.serviceModel>
</configuration>
